$bg-color: #fff;
$text-color: #5d5c61;
$brand-color: #557a95; /*F92672*/
$bg-content: #EBE2DC; /*F5F5F5;*/
$bg-brand: #7395AE;



/*dark colours*/
$bg-color-dark: #151e25; /*#151e25*/;
$brand-color-dark: #974c7c;
$brand-color-alt-dark: #8d8e36;

$section-color-dark: #d4d2d3;


$step: 80px;
