@import 'reset.scss';
@import 'var.scss';
@font-face {
    font-family: Mackay; /* Имя шрифта */
    src: url(../fonts/mackay_regular.otf); /* Путь к файлу со шрифтом */
}

body {
	margin: 0;
	background: $bg-color;
	color: $text-color;
	font: 20px "Source Serif Pro", serif;
	transition: background .4s cubic-bezier(.7,0,.3,1);
	
}
.btn {
	border: 2px solid $brand-color;
	color: $brand-color;
	background: none;
	outline: none;
	transition: transform .4s cubic-bezier(.7,0,.3,1);
	border-radius: 10px;

	&:hover{
		transform: scale(1.2);
	}
}
.box {
	background: $bg-content;
}
.brand {
	color: $brand-color;
}
.ua {
	display: none;
}
.wrapper {
	padding: $step;
}



.menu {
	display: none;
}
.heading {
	position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    z-index: 2;
    font-family: 'Italianno', cursive;
    font-size: 30px;
    transition: background-color .4s cubic-bezier(.7,0,.3,1);
    /*color: #fff;*/
}
.btn-burger {
	position: fixed;
    top: 50%;
    /* left: 0; */
    /* width: 40px; */
    /* height: 13px; */
    background-color: transparent;
    left: 60px;
    transform: translate(0, -50%);
    padding: 20px;

    &-lines, &-lines::before, &-lines::after{
    	position: absolute;
	    width: 40px;
	    height: 2px;
	    background-color: #5d5c61;
	    transition: .5s;
	    content: "";
	    left: 0px;
	    top: 13px;
    }
    &-lines:before{top: 5px; left: -5px;}
    &-lines:after{top: 10px;}

    &-txt{    	
    position: absolute;
    /* top: -5px; */
    /* right: -25px; */
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .2em;
    transform: rotate(-90deg) translate(10px, 20px);
    transition: transform .4s cubic-bezier(.7,0,.3,1) 0ms,opacity .15s linear 0ms,color .15s linear 0ms;
    display: block;
    color: #5d5c61;	
    }

    

    &:hover {
    	.btn-burger-txt{
    		transform: rotate(-90deg) translate(10px,10px);;
    	}
    	.btn-burger-lines{
    		left:-5px;

    		&:before{top: 5px; left: 5px;}
    		&:after{top: 10px;}
    	}
    }
}

a:not(.btn-burger){
	position: relative;
	z-index: 10;
	outline:none;
	color:$brand-color;

	&:after{
		content: '';
		position: absolute;
		bottom: 0%;
		left: 0px;
		right: 0px;
		height: 1px;
		overflow: hidden;
		background: $brand-color;					    
		transition: width 400ms cubic-bezier(1, 0, 0, 1) 0ms;;
		z-index:0;
		width:100%;	
		}
	&:hover:after{
		width: 0%;
		}
}
	


.links {
	position: fixed;
	top: 0;
	right: 30px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sprite{
	display: none;
}

.link-item{
	margin-top: 10px;
	margin-bottom: 10px;
	transition: transform .4s cubic-bezier(.7,0,.3,1);

	&:hover{
		transform: scale(1.2);
	}
}

.inline-svg-icon{
     display: block;
     width: 24px;
     height: 24px;
     fill: #75715E;
     transition: fill .4s cubic-bezier(.7,0,.3,1);
     
 }

.info {
	flex-grow: 1;
	flex-basis: 50%;
	&-text {
		opacity: 0;

	}
}
.hero {
	background-color: $bg-content;
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	transition: background-color .4s cubic-bezier(.7,0,.3,1);
	
	&-text {
		display: block;
		width: 400px;
		font-size: 80px;
		color: $text-color;
		transform: translateX(-50%);
		text-align: center;
		font-family: 'Italianno', cursive;
		
	}
}

header {
	background-color: $bg-brand;
	height: calc(100vh - 160px);
	margin: 0 0 $step;
	display: flex;
	transition: background-color .4s cubic-bezier(.7,0,.3,1);

	
}
section {
	background-color: #ebe2dc;
	padding: 80px;
	h2{
    	color: #5d5c61;
    	font-size: 35px;
   		font-family: mackay;
    	font-weight: bold;
    	margin-bottom: 30px;
    	text-transform: uppercase;
	}
}

.parallax{
	/* The image used */
  background-image: url("../img/dev.jpeg");

  /* Set a specific height */
  height: calc(100vh - 160px);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 80px;
}

.skills-area>div{
    background-color: #CBD7E1;
    margin: 0 auto;    
    margin-bottom: 30px;
    border-radius: 25px;
}
.skills, .projects, .experience{
	background-color:#d4d2d3;
	margin: 0 0 80px;
	
}


.skill-level{
    background-color: $brand-color;
    text-align: center;
    color: white;
    font-size: 12px;
    border-radius: 25px;
}
.footer{
	text-align: center;
	color: $text-color;
	
		.contacts{
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $brand-color;
			font-family: italianno, cursive;
			font-size: 35px;
			margin-bottom: 25px;

			
				span{
					display: block;
				}
			}
		i{
			font-size: 12px;
			opacity: .5;
		}
}

/*------------SLIDER-------------------*/
.slick-slide {
	outline: none;
	margin: 0 auto;

	img{
		max-width: 100%;
    	margin: 20px auto;
	}
	.caption{
		opacity: 0;
		text-align: center;
		padding-top: 10px;


		a{
			display: inline-block;
			font-family: italianno, cursive;
			font:16px;
		}
		h3{
			font-size: 20px;
			font-weight: 900;

			&:before,
			&:after{
				content:' ~ ';
			}

		}

		span{
			font-size:18px;
			display: block;
		}
	}
}

.slick-slide:not(.slick-center) {
	opacity: 0.5;
	transition: opacity .4s ease-in;
	
}

.slick-center{
	opacity: 1;
	transition: opacity .4s ease-in;
	position: relative;
	z-index: 2;

	img{
		transform: scale(1.2);
		transition: transform .4s ease-in;
	}

	.caption{
		opacity: 1;
		transition: opacity .4s ease-in;
	}
}



/*------------SLIDER-------------------*/

.experience{
	i{
		font-size:14px;
		font-style: italic;
		color: #557a95;

	}
	h3{
		font-weight: bold;
		font-size: 27px;
	}
	span{
		display: block;
		margin-bottom: 10px;
	}
	div{
		margin-top: 40px;
	}
}


/*-----menu-open-styles-------*/
	.menu-open {
		header {
	    	/*position: fixed;
	    	left: 0;
	    	top: 0;*/
	    	    background: #7395ae;
		    /*height: calc(100vh - 160px);
		    margin: 0 0 80px;
		    display: flex; */
	    	z-index: 999;
	    	transition: 1s;
		}
		.hero{
			display: none;
		}
		.menu {    
	    	top: 0;
	    	background-color: #000;    
	    	height: 600px;
		}

		.btn-burger,
		.btn-burger-lines {
			background-color: transparent !important;

			&:before{
				top: 0 !important;
		    	transform: rotate(45deg);
		    	background-color: #5d5c61;
		    	transition: 0.5s;
		    	
    		}
			&:after{
				top: 0 !important;
		    	transform: rotate(-45deg);
		    	background-color: #5d5c61;
		    	transition: 0.5s;
		    	left: 5px;
		    }
		}

		.btn-burger{
			&-lines {
			    left: -5px;
			    
			    &:before {
			    top: 5px;
			    left: 5px;
				}
			}			
	    }
		

		.btn-burger-txt {
			display: none;
		}
		
	}

		
    
    .menu-open .burger-menu-overlay {
    	display: block;
    	height: 100vh;
    	/*width: 100vw;  */
	}

/*-----menu-open-styles-------*/




.dark-theme {
	background: $bg-color-dark;
	color: $bg-color-dark;

	a{
		color: $brand-color-alt-dark;

		&:after{
			background-color: $brand-color-dark;
		}
	}

	i{
		color: $brand-color-alt-dark;
	}
	.btn {
		border: 2px solid #8d8e36;
		color: #8d8e36;
	}
	.brand {
		color: $brand-color-dark;
	}
	.heading{
		
		background: $bg-color-dark;
		h1{
			color: $brand-color-dark;
		}
	}

	.en {
		display: none;
	}
	.ua {
		display: block;
	}

	header{
		background-color: $brand-color-dark;
		} 
	.btn-burger{
		&-lines, &-lines::before, &-lines::after{
    		background-color: #8d8e36;
    	
	    }
	    &-txt{
	    	color: #8d8e36;
	    	
	    }
	}
	.skill-level{
		background-color: #974c7c;
	}
	.skills-area>div{
		background-color: #c59ab3;
	}

	.hero {
		background-color: $section-color-dark;
		&-text{
			color: #151e25;
		}
	}
	.skills{
		background-color: $section-color-dark;
		}
	
	.inline-svg-icon{
		fill: #8d8e36;
	}

	section {
		h2{
			color: #151e25;
		}
		p{
			color: #151e25;
		}
	}
.footer{
	color: #d4d2d3;
}
	.contacts{
		

		span{
			color: $brand-color-dark;

			
		}
	}

}

