@import 'reset.scss';
@import 'var.scss';
@font-face {
    font-family: Mackay; /* Имя шрифта */
    src: url(../fonts/mackay_regular.otf); /* Путь к файлу со шрифтом */
}

body {
	margin: 0;
	background: $bg-color;
	color: $text-color;
	font: 20px "Source Serif Pro", serif;
	transition: background .4s cubic-bezier(.7,0,.3,1);	
}

.btn {
	border: 2px solid $brand-color;
	color: $brand-color;
	background: none;
	outline: none;
	transition: transform .4s cubic-bezier(.7,0,.3,1);
	border-radius: 10px;

	&:hover{
		transform: scale(1.2);
	}
}

.box {
	background: $bg-content;
}

.brand {
	color: $brand-color;
}

.ua {
	display: none;
}

.wrapper {
	padding: $step;
}

.menu {
	opacity: 0;
	transition: all.4s ease-in;
    transform: translate(-100%);
    height: inherit;
    right: 100%;
    background-color: $section-color-dark;
    position: fixed;
    left: 0;
    background-color: #fff;

    .contacts{
		position: absolute;
	    bottom: 15px;

	    span{
		 	font-family: 'Italianno';
		    font-size: 33px;
		    font-weight: normal;
		 }
	}

	ul{
		display: none;

		li{
			margin: 15px 0;
			a{
				color: $text-color;
			}
		}
	}
}

.heading {
	position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    z-index: 2;
    font-family: 'Italianno', cursive;
    font-size: 30px;
    transition: background-color .4s cubic-bezier(.7,0,.3,1);
    border-bottom: 2px solid $brand-color;
}

.btn-burger {
	position: fixed;
    top: 50%;
    background-color: transparent;
    left: 60px;
    transform: translate(0, -50%);
    padding: 20px;
    z-index: 10;

    &-lines, &-lines::before, &-lines::after{
    	position: absolute;
	    width: 40px;
	    height: 2px;
	    background-color: #5d5c61;
	    transition: .5s;
	    content: "";
	    left: 0px;
	    top: 13px;
    }

    &-lines:before{top: 5px; left: -5px;}
    &-lines:after{top: 10px;}

    &-txt{    	
	    position: absolute;
	    font-size: .7rem;
	    text-transform: uppercase;
	    font-weight: 900;
	    letter-spacing: .2em;
	    transform: rotate(-90deg) translate(10px, 20px);
	    transition: transform .4s cubic-bezier(.7,0,.3,1) 0ms,opacity .15s linear 0ms,color .15s linear 0ms;
	    display: block;
	    color: #5d5c61;	
	}    

    &:hover {
    	.btn-burger-txt{
    		transform: rotate(-90deg) translate(10px,10px);;
    	}

    	.btn-burger-lines{
    		left:-5px;

    		&:before{top: 5px; left: 5px;}
    		&:after{top: 10px;}
    	}
    }
}

a:not(.btn-burger){
	position: relative;
	z-index: 7;
	outline:none;
	color:$brand-color;

	&:after{
		content: '';
		position: absolute;
		bottom: 0%;
		left: 0px;
		right: 0px;
		height: 1px;
		overflow: hidden;
		background: $brand-color;					    
		transition: width 400ms cubic-bezier(1, 0, 0, 1) 0ms;;
		z-index:0;
		width:100%;	
	}
	&:hover:after{
		width: 0%;
	}
}

.links {
	position: fixed;
	top: 0;
	right: 30px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sprite{
	display: none;
}

.link-item{
	margin-top: 10px;
	margin-bottom: 10px;
	transition: transform .4s cubic-bezier(.7,0,.3,1);

	&:hover{
		transform: scale(1.2);
	}
}

.inline-svg-icon{
     display: block;
     width: 24px;
     height: 24px;
     fill: #75715E;
     transition: fill .4s cubic-bezier(.7,0,.3,1);     
 }

.info {
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
    align-items: center;

	&-text {
		opacity: 0;
		transition: opacity .5s ease-in;
		display: block;
	    font-size: 50px;
	    color: #5d5c61;
	    transform: translateX(30%);
	    text-align: left;

	    date{
			font-family: italianno, cursive;
		    font-size: 30px;
		    color: #fff;     
		}

		h2{
			margin: 0 0 10px 20px;
			font-weight: 900;
		}

		p{
			margin: 0 0 0 40px;
		    font-size: 30px;
		}
	}
}

.hero {
	background-color: $bg-content;
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	transition: opacity .5s ease-in;
	
	&-text {
		display: block;
		width: 400px;
		font-size: 80px;
		color: $text-color;
		transform: translateX(-50%);
		text-align: center;
		font-family: 'Italianno', cursive;		
	}
}

header {
	background-color: $bg-brand;
	height: calc(100vh - 160px);
	margin: 0 0 $step;
	display: flex;
	transition: background-color .4s cubic-bezier(.7,0,.3,1);

	&:hover .hero {
	    opacity: 0;
	    transition: opacity .5s ease-in;
	    }

	&:hover .info-text {
	    opacity: 1;
	    transition: opacity .5s ease-in;
		}	
}

section {
	background-color: #ebe2dc;
	padding: 80px;

	h2{
    	color: #5d5c61;
    	font-size: 35px;
   		font-family: mackay;
    	font-weight: bold;
    	margin-bottom: 50px;
    	text-transform: uppercase;
	}
}

.parallax{
  background-image: url("../img/dev.jpeg");
  height: calc(100vh - 160px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 80px;
}

.skills-area>div{
    background-color: #CBD7E1;
    margin: 0 auto;    
    margin-bottom: 15px;
    border-radius: 25px;
}

.skills, .projects, .experience{
	background-color:#ebe2dc;
	margin: 0 0 80px;	
}

.skill-level{
    background-color: $brand-color;
    text-align: center;
    color: white;
    font-size: 12px;
    border-radius: 25px;
}

.footer{
	text-align: center;
	color: $text-color;
	
		.contacts{
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $brand-color;
			font-family: italianno, cursive;
			font-size: 35px;
			margin-bottom: 25px;
			
				span{
					display: block;
				}
			}
		i{
			font-size: 12px;
			opacity: .5;
		}
}

/*------------SLIDER----------->>>>>>>>>*/
.slick-slider{
	position: relative;

	.slick-arrow{
		top: 35%;
		position: absolute;
		width: 41px;
	    height: 72px;
	    transform: translateY(-40%);
	    border: none;
	    outline: none;
	    font-size: 0;
	    background: url('../img/arr-left.png');

	    &.slick-next{
	    	left: -60px;
	    }
	    &.slick-prev{	
			right: -60px;
		    transform: translateY(-50%) scale(-1,1);
		}

	}

	.slick-slide {
		outline: none;
		margin: 0 auto;

		img{
			max-width: 100%;
	    	margin: 20px auto;
	    	width: 350px !important;
		}

		.caption{
			opacity: 0;
			text-align: center;
			padding-top: 10px;

			a{
				display: inline-block;
				font-family: italianno, cursive;
				font:16px;
			}

			h3{
				font-size: 20px;
				font-weight: 900;

				&:before,
				&:after{
					content:' ~ ';
				}
			}

			span{
				font-size:18px;
				display: block;
			}
		}

		&.slick-center{
			opacity: 1;
			transition: opacity .4s ease-in;
			position: relative;
			z-index: 2;

			img{
				transform: scale(1.2);
				transition: transform .4s ease-in;
				box-shadow: 0 0 10px rgba(0,0,0,0.6);
			}

			.caption{
				opacity: 1;
				transition: opacity .4s ease-in;
				
			}
		}
	}
}

.slick-slide:not(.slick-center) {
	opacity: 0.5;
	transition: opacity .4s ease-in;	
}



/*<<<<<<<<<-----SLIDER---------------*/

.experience{
	i{
		font-size:14px;
		font-style: italic;
		color: #557a95;
	}

	h3{
		font-weight: bold;
		font-size: 27px;
	}

	span{
		display: block;
		margin-bottom: 10px;
	}

	div{
		margin-top: 40px;
	}
}


/*-----menu-open-styles---->>>>>>>>>*/

	.menu-open {
		header {
	    	/*position: fixed;
	    	left: 0;
	    	top: 0;*/
	    	    background: #7395ae;
		    /*height: calc(100vh - 160px);
		    margin: 0 0 80px;
		    display: flex; */
	    	z-index: 999;
	    	transition: 1s;
	    }

	    .menu {
		    right: 20%;
		    position: fixed;
		    transform: translateX(0%);
		    left: 80px;
		    transition: all .4s ease-in;
		    z-index:8;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    padding-left: calc(16vw - 80px);
		    opacity: 1;

		    ul{
				display: block;
				font-size: 32px;
			    font-weight: 900;
			    
			}
		}
		

		.btn-burger,
		.btn-burger-lines {
			background-color: transparent !important;

			&:before{
				top: 0 !important;
		    	transform: rotate(45deg);
		    	background-color: #5d5c61;
		    	transition: 0.5s;
		    	
    		}
			&:after{
				top: 0 !important;
		    	transform: rotate(-45deg);
		    	background-color: #5d5c61;
		    	transition: 0.5s;
		    	left: 5px;
		    }
		}

		.btn-burger{
			&-txt {
				display: none;
			}
			&-lines {
			    left: -5px;
			    
			    &:before {
			    top: 5px;
			    left: 5px;
				}
			}			
	    }
	}
	
/*<<<<<<<<<<<<<<---menu-open-styles-------*/

.dark-theme {
	background: $bg-color-dark;
	color: $bg-color-dark;

	a{
		color: $brand-color-alt-dark;

		&:after{
			background-color: $brand-color-dark;
		}
	}

	i{
		color: $brand-color-alt-dark;
	}
	.btn {
		color: #8d8e36;
	}
	.brand {
		color: $brand-color-dark;
	}
	.heading{
		border-bottom: 2px solid $brand-color-dark;
		background: $bg-color-dark;
		h1{
			color: $brand-color-dark;
		}
	}

	.en {
		display: none;
	}
	.ua {
		display: block;
	}

	header{
		background-color: $brand-color-dark;
		} 

	.menu{
		background-color: #c1bebf;
		
	}

	.info-text{
		color:$brand-color-alt-dark;
	}

	.btn-burger{
		&-lines, &-lines::before, &-lines::after{
    		background-color: #8d8e36;
    	
	    }
	    &-txt{
	    	color: #8d8e36;
	    	
	    }
	}
	.skill-level{
		background-color: #974c7c;
	}
	.skills-area>div{
		background-color: #c59ab3;
	}

	.hero {
		background-color: $section-color-dark;
		&-text{
			color: #151e25;
		}
	}
	.skills{
		background-color: $section-color-dark;
		}
	
	.inline-svg-icon{
		fill: #8d8e36;
	}

	section {
		h2{
			color: #151e25;
		}
		p{
			color: #151e25;
		}
	}

	.footer{
		color: #d4d2d3;
	
		.contacts{
			span{
				color: $brand-color-dark;				
			}
		}
	}

	.experience, .projects, .skills {
    	background-color: #d4d2d3;
	}
}

